.mainContainer-bookstore {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #919191;
}
.container-bookstore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 50%;
  background: #e0dddd 0% 0% no-repeat padding-box;
  border-radius: 21px;
}
.image-heading {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.trolley {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 100px;
}
.formContainer-pages {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00000029;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  opacity: 1;
  width: 53%;
  height: 360px;
}
.formButtons {
  display: flex;
  justify-content: space-around;
}
.loginButton {
  color: #000000 !important;
}
.signupButton {
  color: #000000 !important;
}
.show {
  padding-left: 10%;
  padding-right: 10%;
}
@media only screen and (max-width: 1100px) and (min-width: 901px) {
  .container-bookstore {
    width: 80%;
    height: 30%;
  }
  .formContainer-pages {
    padding-top: 7%;
    height: 100%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .container-bookstore {
    width: 85%;
    height: 30%;
  }
  .formContainer-pages {
    height: 130%;
  }
}

@media only screen and (max-width: 600px) {
  .mainContainer-bookstore {
    flex-direction: column !important;
    margin-right: 20% !important;
  }
  .container-bookstore {
    flex-direction: column;
    height: fit-content;
    width: 90%;
  }
  .formContainer-pages {
    width: 80%;
    height: auto;
  }
}
