.mainContainer-forgetPassword{
height: 100%;
width: 100%;
}
.labels {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50%;
  border: 1px solid gainsboro;
  margin-left: 35%;
  align-items: center;
  justify-content: center;
}
.email-id {
  color: #0a0102;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font: normal normal medium 10px/13px Roboto;
}

input {
  width: 250px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.main-section-pwd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 80%;
  padding-top: 5%;
}
.pwd {
  width: 40%;
  height: 10%;
  display: flex;
  align-self: center;
  justify-content: center;
  font: normal normal medium 25px/33px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
  text-transform: capitalize;
  padding-bottom: 1%;
  margin-left: 35%;
}
.text {
  width: 60%;
  height: 20%;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #878787;
}
.reset-btn {
  height: 30px;
  margin-top: 5% !important;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #ffffff !important;
  margin-left: 20% !important;
  border: none;
  width: 60%;
  align-self: flex-start;
  background: #a03037 0% 0% no-repeat padding-box !important;
  border-radius: 3px;
}
.forget-password1-textfeilds {
  width: 60%;
}
.create-account {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  background: #f9f9f8 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 0px 0px 6px 6px;
  font: normal normal medium 18px/24px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
  text-transform: uppercase;
}

@media screen and (min-device-width: 801px) and (max-device-width: 1024px) {
  .main-section-pwd {
    height: 50%;
  }
  .create-account {
    height: 60px;
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 800px) {
  .main-section-pwd {
    height: 50%;
  }
  .create-account {
    height: 60px;
  }
  .reset-btn{
    height: 50px;
  }
  .labels {
    width: 40%;
  }
 
}
@media screen and (max-width: 600px) {
  .main-section-pwd {
    height: 60%;
    padding-right: 25%;
  }
  .pwd {
    padding-left: 22%;
  }
  .create-account {
    height: 20%;
  }
  .labels {
    width: 80%;
    height: 55%;
  }

  .reset-btn {
    height: 40px;
  }
  .create-account {
      height: 60px;
  }
}
