.pagination1 {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.page-link:hover {
  color: #fff;
  background-color: brown;
}
.page-link:active {
  background-color: brown;
}
.page-link {
  padding: 8px 16px;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}
.page-btn {
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 100%;
  padding: 10px 15px;
  border-color: #ccc;
  border: none;
}
@media only screen and (max-width: 600px) {
  .page-btn {
    margin: 0px;
  }
  /* .pagination1{
    justify-content: unset;
} */
}
